
.list--marginT {
    margin-top: 1em;
}

.list--marginB,.button--marginB {
    margin-bottom: 1em;
}

.list--marginB .list__item:last-child {
    min-height: 2.85em;
}

.button--marginTLR {
    width: calc(100% - 16px) !important;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 1em;
}
.button--white{
    background-color: #fff;
    border: 1px #ccc solid;
    color: #000;
}
section .search-input, section .search-input:focus {
    margin: 8px;
    width: calc(100% - 16px);
    background-color: #fff;
    border: none;
}

.text-input.text-input--material {
    position: relative;
    top: 0;
}

label.text-input__container {
    position: relative;
    top: 15px;
}

*[placeholder]{
    width: 100%;
}

.page__background {
    background-color: #f5f5f5;
}

.list[modifier="noborder"] {
    border-bottom: 1px solid #ccc;
    margin-bottom: -1px;
}
.list[modifier="noborder"] .list__item{
    padding-left: 0;
}

.list[modifier="noborder"] ons-col {
    font-size: 0.8em;
    color: #aaa;
    text-align: center;
    border-left: 1px #ccc solid;
}

.list[modifier="noborder"] ons-col:nth-child(1) {
    border-left: none;
}

.ons-icon[icon="ion-arrow-down-b"] {
    position: relative;
    top: -3px;
    left: 4px;
}

.price {
    color: #EE3B3B;
    font-size: 1.25em;
}

.list--mine img {
    margin: 0 auto 1em;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.list--mine .list__header{
    background-color: #fff;
}

.list--mine .list__header--material img {
    margin: 1em auto;
}

.list--title .right .list__item__subtitle {
    font-size: 0.8em;
    color: #aaa;
    text-decoration: line-through;
}

.list--title .right .list__item__title {
    font-size: 1.25em;
    color: #EE3B3B;
}

.list--title .center .list__item__subtitle {
    font-size: 0.8em;
    color: #aaa;
}

.list--limit .center b {
    display: block;
    font-style: normal;
    margin: 1px 2px 1px 1px;
    width: 14px;
    height: 14px;
    background-color: #00a9f3;
    border-radius: 2px;
    font-size: 0.5em;
    color: #fff;
    text-align: center;
    line-height: 14px;
    font-weight: 100;
}

.list--limit .center i {
    display: block;
    font-style: normal;
    margin: 1px 2px 1px 1px;
    width: 14px;
    height: 14px;
    background-color: #ffb359;
    border-radius: 2px;
    font-size: 0.5em;
    color: #fff;
    text-align: center;
    line-height: 14px;
}

.list--limit .center em {
    display: block;
    font-style: normal;
    margin: 1px 2px 1px 1px;
    width: 14px;
    height: 14px;
    background-color: #eb5757;
    border-radius: 2px;
    font-size: 0.5em;
    color: #fff;
    text-align: center;
    line-height: 14px;
}

.list--signIn a {
    font-size: 0.8em;
    color: #aaa;
    text-decoration: none;
    display: block;
    margin-top: 1em;
    margin-bottom: .5em;
}

input[name*="Password"] {
    width: calc(100% - 16px);
    display: block;
    margin: 1em 8px;
}

input[name*="Password"] + .text-input--material__label,
input[name*="Password"] + .text-input--material__label--active {
    margin-top: 1em;
    margin-left: 8px;
}
.right .button--material {
    color: #fff;
}

.list--marginB .list__item:last-child {
    height: 2em;
}

.list__item--material__center {
    padding-right: 0;
}

.list--order .left img {
    width: 70px;
    height: 70px;
}

.list--order .center {
    padding-left: .5em;
}

.modal--load circle:nth-child(2) {
    stroke: #aaa;
}

.button--noRadius {
    border-radius: 0;
}

.list--pay .list__header {
    background-color: #f2f2f2;
    color: #aaa;
}

.list--pay textarea {
    background-color: #fff;
    border: none;
    padding: 4px 14px;
    min-height: 64px;
}

.button--result {
    color: #fff;
    text-decoration: underline;
}

.myDialog {
    padding: 1.5em 0 1em;
    text-align: center;
    position: relative;
}

.myDialog span {
    width: 1.75em;
    height: 1.75em;
    background-color: #aaa;
    color: #fff;
    position: absolute;
    line-height: 1.75em;
    box-shadow: #000 0 0 4px;
    right: 0;
    top: 0;
}
/*开启券码*/
.couponCodeBg{
    padding: 6px 1.8em;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #ccc;
    font-size: 0.8em;
    border-radius: 2px;
    background-color: #f2f2f2;
    background: linear-gradient(135deg,
    #fff .12em,
    #eee 0, #eee calc(50% - .125em),
    #fff 0, #fff calc(50% + .125em),
    #eee 0, #eee calc(100% - .12em),
    #fff 0
    );
    background-size: 1.5em 1.5em;
}
/*生成邀请码*/
.inviteBg {
    width: 90%;
    margin: 1.5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 500;
    text-shadow: #aaa 0 1px 1px;
    height: 8em;
    background-color: #f2f2f2;
    background: linear-gradient(135deg,
    #fff .12em,
    #f1f1f1 0, #f1f1f1 calc(50% - .125em),
    #fff 0, #fff calc(50% + .125em),
    #f1f1f1 0, #f1f1f1 calc(100% - .12em),
    #fff 0
    );
    background-size: 1.5em 1.5em;
}
/*已购买页面上下拉刷新*/
.pushRefresh{
    text-align: center;
    display: none;
    padding-top: .5em;
    padding-bottom: .5em;
}
.pushRefresh.in{
    display: block;
}
.up,.pushRefresh{
    color: #ccc;
    font-size: 0.8em;
}
.up ons-icon,.pushRefresh ons-icon{
    position: relative;
    top: -2px;
}
/*灰色字且缩小*/
.grayColor{
    color: #aaa;
    font-size: 0.8em;
}
/*售卖列表商品描述*/
.list__item--sell__subtitle{
    font-size: .5em;
    color: #aaa;
    width: 0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.tab-bar{
    background-image: none;
    box-shadow: 0 0 1px #ccc;
}
.tab-bar ons-icon:nth-child(1){
}